@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');

html[data-theme=dark]{
  color-scheme: dark;

}


::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #898989;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
  background: #707070;
}

html[data-theme=dark] ::-webkit-scrollbar{
  width: 8px;
}

html[data-theme=dark] ::-webkit-scrollbar-track{
  background: #424242
}

html{
  --color-fade-start: rgba(255,255,255,0);
  --color-fade-end: rgba(255,255,255,1);
}

html[data-theme='dark'] {
  --color-fade-start: rgba(0,0,0,0);
  --color-fade-end: rgba(0,0,0,1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
